/* Universal Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --bg-color: #646881;
    --txt-color: #C3BEF7;
    --alt_txt-color: #CBD0B9;
}

a, li {
    text-decoration: none;
    list-style: none;
    color: var(--txt-color);
}

a:hover {
    text-decoration: underline;
}

/* Navigation Menu */
.navbar-wrapper {
    background-color: var(--bg-color);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

/* About Page Styling & Media Queries */
.about_header {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.selfie {
    display: block;
    margin: 0px auto 15px auto;
    border-radius: 250px;
}

.about_txt {
   font-size: 16px;
   margin-bottom: 15px;
   padding: 10px;
   text-align: center;
}

@media only screen and (min-width: 600px) {
    .about_txt {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .selfie {
        margin-bottom: 75px;
    }
    .about_header {
        font-size: 28px;
    }
}

/* Footer Styling & Media Queries */
.footer {
    background-color: var(--bg-color);
    color: var(--txt-color);
    position: sticky;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.linkedin_link {
    margin-right: 100px;
}

.download_btn {
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    background-color: var(--bg-color);
    color: var(--alt_txt-color);
}

.download_btn:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.view_btn {
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    background-color: var(--bg-color);
    color: var(--alt_txt-color);
}

.view_btn:hover {
    cursor: pointer;
    transform: scale(1.25);
}

@media only screen and (max-width: 600px) {
    .footer {
        position: sticky;
        bottom: 0;
    }
}

@media only screen and (min-width: 700px) {
    .footer {
        position: fixed;
        bottom: 0;
    }
}

