/* Universal Styling & Media Queries */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --bg-color: #646881;
    --txt-color: #C3BEF7;
    --html_doc-color: #D3D3D3;
    --alt_txt-color: #CBD0B9;
}

html {
    background-color: var(--html_doc-color);
}

a, li {
    text-decoration: none;
    list-style: none;
    color: var(--txt-color);
}

a:hover {
    text-decoration: underline;
}

/* Navigation Menu & Media Queries */
.navbar-wrapper {
    background-color: var(--bg-color);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

/* Homepage Styling & Media Queries */
.welcome_txt_container {
    text-align: center;
    margin-top: 300px;
    font-size: 18px;
}

.cnt_lnk {
    color: black;
    text-decoration: underline;
}

.cnt_lnk:hover {
    border: 2px solid black;
    border-radius: 5px;
    transform: scale(3);
    text-decoration: none;
}

/* About Page Styling & Media Queries */
.about_header {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.selfie {
    display: block;
    margin: 0px auto 15px auto;
    border-radius: 250px;
}

.about_txt {
   font-size: 16px;
   margin-bottom: 15px;
   padding: 10px;
   text-align: center;
}

/* Skills Styling &  Media Queries */
.skills_container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.skills_header {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.skill_card {
    border: 2px solid black;
    border-radius: 15px;
    width: auto;
    padding: 25px;
    justify-content: space-around;
    margin: 150px 25px 0px  25px;
}

.skill_card:hover {
    transform: scale(1.15);
}

.skill_card > li {
    color: black;
}

.skill_card > h3 {
    text-decoration: underline;
}

/* Project Styling & Media Queries */
.projects_header {
    text-align: center;
    margin: 15px 0px 15px 0px;
}


/* Contact Styling & Media Queries */
.contact_header {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.contact_icons {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.phone_icon, .phone_icon:hover {
    font-size: 100px;
    text-decoration: none;
}

.email_icon, .email_icon:hover {
    font-size: 100px;
    text-decoration: none;
    color: black;
}

/* Footer Styling & Media Queries */
.footer {
    background-color: var(--bg-color);
    color: var(--txt-color);
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.linkedin_link {
    margin-right: 100px;
}

.download_btn {
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    background-color: var(--bg-color);
    color: var(--alt_txt-color);
}

.download_btn:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.view_btn {
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    background-color: var(--bg-color);
    color: var(--alt_txt-color);
}

.view_btn:hover {
    cursor: pointer;
    transform: scale(1.25);
}

/* @media only screen and (max-width: 600px) {
        .footer {
            position: sticky;
            bottom: 0;
        }
}

@media only screen and (min-width: 601px) and (max-width: 799px) {
    .footer {
        position: sticky;
        bottom: 0;
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        position: sticky;
        bottom: 0;
    }
}

@media only screen and (max-width: 900px) {
    .footer {
        position: sticky;
        bottom: 0;
    }
}

@media only screen and (min-width: 901px) {
    .footer {
        position: fixed;
        bottom: 0;
    }
} */