/* Universal Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --bg-color: #646881;
    --txt-color: #C3BEF7;
}

a, li {
    text-decoration: none;
    list-style: none;
    color: var(--txt-color);
}

a:hover {
    text-decoration: underline;
}

/* Navigation Menu */
.navbar-wrapper {
    background-color: var(--bg-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}